<tr>
  <td><%= task.state %></td>
  <td><%= task.content %></td>
  <td><%= task.limit_date.strftime("%Y-%m-%d %H:%M:%S") %></td>
  <td><%= task.user.name %></td>
  <td>
    <% if current_user?(task.user) %>
      <%= link_to "削除", task, method: :delete,
                                         data: { confirm: "削除しますか?" } %>
    <% end %>
  </td>
</tr>