<h1>ユーザー検索</h1>
<%= form_with url: search_user_path, method: :get, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "検索" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>検索結果(名前)</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for(user, size: 30) %></td>
        <td><%= link_to user.name, user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>