<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.select :state, [["予定","todo"],["実行中","doing"],["実施済","done"]],
    { include_blank: false, selected: "todo" },{class: 'form-control'} %>
    
    <%= f.text_area :content, placeholder: "Compose new micropost...", class: 'form-control' %>
    
    <%= f.datetime_select :limit_date, {}, class: 'form-control' %>

   
  </div>
  <%= f.submit "作成", class: "btn btn-primary" %>
<% end %>